<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <a href="https://icons8.com/icon/49067/soccer-ball"></a>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  {{#if user}}
  <div class="container-fluid fixed-top nav-bar mx-0 px-0">
    <div class="row m-0 d-flex justify-content-center nav-block align-items-center">
      <div class="col-2 text-start logo-nav d-none d-md-block">
        <img src="/images/footbooklogo.png" alt="footbok">
      </div>
      <div class="col-12 col-md-5 text-center d-flex align-items-center justify-content-center">
        <div class="row search-div">
          <div class="col-1 px-0 mx-0 d-flex align-items-center justify-content-center">
            <i class="material-icons text-success2">search</i>
          </div>
          <div class="col-11 px-0">
            <input id="autocompleteSearch" autocomplete="on" class="search-bar controls" type="text" name="location">
            <input type="hidden" id="location" name="location2" />
            <input type="hidden" id="locationLat" name="locationLat" />
            <input type="hidden" id="locationLng" name="locationLng" />
          </div>
        </div>
      </div>
      <div class="col-5 text-center d-none d-md-block">
        <div class="row d-flex justify-content-center">
          <div class="col-3 pt-2 d-flex align-items-center justify-content-center">
            <p class="mb-0 "><a href="#" class="text-success2" onclick="createNewMatch()">Create Match</a></p>
          </div>
          <div class="col-3 pt-2 d-flex align-items-center justify-content-center">
            <p class="mb-0 "><a href="/matches" class="text-success2">Matches</a></p>
          </div>
          <div class="col-3 pt-2 d-flex align-items-center justify-content-center">
            <p class="mb-0 "><a href="#" class=" text-success2">My Matches</a></p>
          </div>
          <div class="col-3 pt-2 d-flex align-items-center justify-content-center">
            <a href="/profile"><i class="material-icons text-success" style="font-size: 35px">person_outline</i></a>
          </div>
          {{!-- <div class="col-2 pt-2 d-flex align-items-center justify-content-center">
            <p class="mb-0 "><a href="#" class=" text-danger">Logout</a></p>
          </div> --}}

        </div>
      </div>
    </div>
  </div>
  {{/if}}
  {{{body}}}
  {{#if user}}
  <div class="container-fluid fixed-bottom footer-page d-block d-sm-block d-md-none">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-3 d-flex justify-content-center">
        <div class="row pb-2 icons-bottom">
          <div class="col-12 d-flex justify-content-center align-items-center pt-1">
            <a href="/matches"><i class="material-icons text-success2">search</i></a>
          </div>
          <div class="col-12 pb-4">
            <p class="footer-text text-center">explore</p>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <div class="row pb-2 icons-bottom">
          <div class="col-12 d-flex justify-content-center align-items-center pt-1">
            <a href="#"><i class="material-icons text-success2">group</i></a>
          </div>
          <div class="col-12 pb-4">
            <p class="footer-text text-center">matches</p>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <div class="row pb-2 icons-bottom">
          <div class="col-12 d-flex justify-content-center align-items-center pt-1">
            <a href="/match/add"><i class="material-icons text-success2">add_circle_outline</i></a>
          </div>
          <div class="col-12 pb-4">
            <p class="footer-text text-center">create match</p>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <div class="row pb-2 icons-bottom">
          <div class="col-12 d-flex justify-content-center align-items-center pt-1">
            <a href="/profile"><i class="material-icons text-success2">person_pin</i></a>
          </div>
          <div class="col-12 pb-4">
            <p class="footer-text text-center">profile</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if}}



  <!-- JQuery -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
  </script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
  <script src="/javascripts/apiHelper.js"></script>
  <script src="/javascripts/script.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>