
<div class="container-fluid login-page bg-start" style="display: block">
  <div class="row filter-black">
    <div class="col-10 container-login">
      <header>
        <h1>
          <img src="/images/footbooklogo.png" alt="Logo">
        </h1>
      </header>
      <div class="row d-flex justify-content-center">
        <form class="col-10 registration-form" action="/login" method="POST">
          <label>
            <span class="label-text">Username</span>
            <input type="text" class="white-text" name="username">
          </label>
          <label class="password pt-3">
            <span class="label-text">Password</span>
            <input type="password" class="white-text" name="password">
          </label>
          <div class="text-center pt-4">
            {{!-- <button class="submit" name="register">Login</button> --}}
            <button name="register" class="submit btn btn-elegant">Login</button>
          </div>
          <div class="text-center">
            <p class="pt-3" style="color:white!important">Don't have an account? </p>
          </div>
          <div class="text-center">
            {{!-- <button type="button" class="btn btn-dark-green">Dark-green</button> --}}
            <button onclick="signUpPage()" type="button" class="btn btn-light-green btn-sm">Sign Up!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>