<div class="container-fluid mt-5 pt-5">
  <div class="row d-flex justify-content-center">

    <div class="col-10 title-page my-3 ">
      <h2>Encontre seu campo</h2>
    </div>
    <div class="col-10">
      <div class="row d-flex justify-content-around">
        {{#each matches}}
          {{> matchCard this}} 
        {{/each}}
      </div>
    </div>

  </div>
</div>