<div class="container-fluid mt-5 pt-5">
    <div class="row d-flex justify-content-center">

      <div class="col-10 title-page my-3 ">
        <h2>Encontre seu campo</h2>
      </div>
      <div class="col-10">
        <div class="row d-flex justify-content-around">
            <div class="col-12 col-md-5 text-center field-card px-0 mt-2 mb-4">
                <div class="view overlay zoom content-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtz1UsljuzVpF9sGiB5uU5mKVFDucOlxRl3Ro00hbX_Uq8m36W" class="img-fluid "
                    alt="zoom">
                  <div class="mask flex-center waves-effect waves-light rgba-white-strong">
                    <div class="row">
                      <div class="col-12 d-flex align-items-center justify-content-center">
                        <p class="black-text">Owner: John Doe</p> <br>
                      </div>
                      <div class="col-12">
                        <p class="black-text">Players: 8/12</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5 text-center field-card px-0 mt-2 mb-4">
                  <div class="view overlay zoom content-card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtz1UsljuzVpF9sGiB5uU5mKVFDucOlxRl3Ro00hbX_Uq8m36W" class="img-fluid "
                      alt="zoom">
                    <div class="mask flex-center waves-effect waves-light rgba-white-strong">
                      <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                          <p class="black-text">Owner: John Doe</p> <br>
                        </div>
                        <div class="col-12">
                          <p class="black-text">Players: 8/12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-5 text-center field-card px-0 mt-2 mb-4">
                    <div class="view overlay zoom content-card">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtz1UsljuzVpF9sGiB5uU5mKVFDucOlxRl3Ro00hbX_Uq8m36W" class="img-fluid "
                        alt="zoom">
                      <div class="mask flex-center waves-effect waves-light rgba-white-strong">
                        <div class="row">
                          <div class="col-12 d-flex align-items-center justify-content-center">
                            <p class="black-text">Owner: John Doe</p> <br>
                          </div>
                          <div class="col-12">
                            <p class="black-text">Players: 8/12</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-5 text-center field-card px-0 mt-2 mb-4">
                      <div class="view overlay zoom content-card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtz1UsljuzVpF9sGiB5uU5mKVFDucOlxRl3Ro00hbX_Uq8m36W" class="img-fluid "
                          alt="zoom">
                        <div class="mask flex-center waves-effect waves-light rgba-white-strong">
                          <div class="row">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                              <p class="black-text">Owner: John Doe</p> <br>
                            </div>
                            <div class="col-12">
                              <p class="black-text">Players: 8/12</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

        

        </div>
      </div>

    </div>
  </div>