<div class="container-fluid mt-5 pt-5">
  <div class="row d-flex justify-content-center">
      <div class="col-10 col-md-8 title-page mb-4 ">
        <div class="row">
          <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center">
            <h2>Find your match!</h2>
          </div>
          <div class="col-12 col-md-6 d-flex justify-content-around align-items-center">
            <button type="button" class="btns-matchs btn btn-outline-success waves-effect btn-sm">Create Match</button>
            <button type="button" class="btns-matchs btn btn-light-green btn-sm">My Matches</button>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="row d-flex justify-content-around">
        {{#each matches}}
          {{> matchCard this}} 
        {{/each}}
      </div>
    </div>

  </div>
</div>