<div class="container-fluid profile-page">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8 col-11 mt-5 mb-5" data-aos="fade-up">
      <div class="row d-flex justify-content-center align-items-center text-center profile-cards mt-5 mb-5">
        <div class="col-12 col-md-5">
          <div class="row">
            <div class="col-12 profile-picture pt-4">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSXVKS5uTi-80E5DGLy-OJM04jO2vOtovJQZt8d-pjyUpekR_0p"
                class="img-fluid rounded-circle hoverable" alt="hoverable">
            </div>
            <div class="col-12 pt-3">
              <h1>Ronaldinho Gaucho</h1>
            </div>
            <div class="col-12">
              
            </div>
          </div>

        </div>
        <div class="col-12 col-md-5 d-flex justify-content-center pb-md-0 pb-5 mt-md-5 mt-0">
          <form action="/" class="col-10 registration-form" method="POST">
          <label>
            <span class="label-text">Username</span>
            <input type="text" class="white-text" name="username">
          </label>
          <label>
            <span class="label-text">Email</span>
            <input type="email" class="white-text" name="email">
          </label>
          <label class="password">
            <span class="label-text">Password</span>
            <input type="password" class="white-text" name="password">
          </label>
          <div class="text-center pt-5 pb-5 mt-md-5">
            <button type="submit" name="register" class="submit btn btn-elegant">Update Profile</button>
            <a href="/logout"><button type="button" class="btn btn-danger px-3 btn-sm"><i class="fas fa-power-off" aria-hidden="true"></i></button></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key={{googleApiKey}}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{googleApiKey}}&libraries=places"></script>